@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Asset&family=Bungee+Shade&family=DM+Serif+Display:ital@0;1&display=swap');


.heading{
    font-family: "Bungee Shade";
    font-weight: 400;
    font-style: normal;
}
.bgbody{
    background: linear-gradient(to bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0)); 
}
.heading2{
    font-family: 'DM Serif Display';
}