.main{
  height: 55vh;
  background: rgb(0, 0, 0);
  color: white;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  border-radius: 20px;
h1{
  text-align: center;
  padding-top: -5%; 
  transform: rotate(320deg);
  width: 150%;
  font-size: 50px;
  color: white;
  text-shadow: 6px 4px 4px rgba(228, 23, 57, 0.884); 

}
 .aboutme{
  border-left: 4px solid firebrick;
  border-right: 4px solid firebrick;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0px 80px;
  padding: 0px 50px;
  box-shadow: 8px 5px 15px 8px rgba(110, 110, 110, 0.13);
  span{
    font-size: 20px;
  }
 }
}

@media (max-width: 600px) {
  .main{
    flex-direction: column;
    padding: 0px 2px;
    gap: 5px;
    height: 50%;

    h1{
      padding-top: 5%; 
      width: 50%;
  font-size: 30px;
      transform: rotate(360deg);
  
    }
    .aboutme{
      margin: 0px 8px;
      padding: 0px 5px;
      border-left: none;
  border-right: none;
    }
  }
  
}
@media (max-width: 1200px) {
  .main{
    padding: 0px 20px;
    height: 40vh;
    h1{
      transform: rotate(320deg);
      width: 200%;
    
    }
    .aboutme{
      margin: 0px 30px;
      padding: 0px 50px;
      box-shadow: 8px 5px 15px 8px rgba(110, 110, 110, 0.13);
      font-size: 20px;
      span{
        font-size: 20px;
      }
     }
  }
}