@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Asset&family=Bungee+Shade&family=DM+Serif+Display:ital@0;1&display=swap');


.head3{
    font-family: "Bungee Shade" !important;
    font-weight: 400;
    font-style: normal;
}
.mintext{
    font-family: 'DM Serif Display';
}

.bgbody{
background: white;
}
.footerbg{
    background:black;
}