@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Asset&family=Bungee+Shade&family=DM+Serif+Display:ital@0;1&display=swap');


.heading3{
    font-family: "Bungee Shade";
    font-weight: 400;
    font-style: normal;
}
.mintext{
    font-family: 'DM Serif Display';
}

.bgbody{
    background: linear-gradient(to right, rgb(219, 38, 195), rgb(98, 71, 197), rgb(199, 42, 178));
}
.footerbg{
    background: linear-gradient(to right, rgb(111, 5, 231), rgb(212, 13, 196), rgb(111, 5, 231));

}